* {
    margin: 0%; 
    padding: 0%;
}

body {
    color: white;
    
   
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 20px;
    background-image: url(/image/pethubs.jpeg);
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}
.low {
    text-align: center;
}



