
body{

    background-color: rgb(255, 99, 71);
    padding: auto;
    margin: 0% 0%;


    

}

h1 {
    background-color: gray;
    width: 50%;
    color: rgb(20,10,16);


}

div ul{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    margin: 0% 0%;
    padding: 0% 0%;
  border-top: dotted 5px;
    border-color: green;
    border-radius: 50px;






}

h3 {
    color: blue;
    margin: 20px;
}

.flex-container{
    display: flex;

}
