*{
    margin: 0%;
    padding: 0%;

}

body{
    margin: 10px 100px;
    border: 2px solid white;
    padding-bottom: 10px;

 
}

nav{

    display: flex;
    align-items: center;
    border: 1px solid white;
    padding: 20px 100px;
}

nav input {

    font-size: 10px;
    padding: 2px 10px;


}

ul{


    display: inline-block;
    list-style: none;
    flex: 1;
    text-align: right;

}


nav button{
    font-size: 10px;
    padding: 3px 6px;


}

ul{


    display: inline-flex;
    list-style: none;
    flex: 1;
    text-align: right;

}
nav button{
    font-size: 10px;
    padding: 3px 6px;
    background: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border: 1px solid black;
    border-radius: 10px 5px;
    font-weight: 20px;



}


ul{
     
display: inline-block;
margin-right: 15px;
font-size: 12px;



}

ul li{
    display: inline-block;
    margin-right: 15px;



}


h3{

    font-size: 40px;
    margin-right: 20px;
    font-weight: 300;
    border-radius: 20px;
    
    
}
/* The body of the content */

main{
    border: 2px solid white;
    display:  flex;
    padding: 0px 50px;
    background-image:url(image/pethubs.jpeg);
    background-position-y: center;



}
.vol-1{

    flex-basis: 50%;
    margin-top: 100px;
    color: black;

}

.vol-2{

    flex-basis: 50% ;
    margin: 50px 0px;
    color: white;
    transform: translate(50% -50% );
    border-left: 20px;
   

}

h1{
    font-size: 50px;
   font-style: oblique;
   font-family: monospace;
   font-display: flex;
   color: #fff;
   

}

p{
    margin: 10px 0px;
}

form{
    width: 80%;
}

form input{

    width: 100%;
    margin: 5px 0px;
    padding: 8px 4px;
    border-radius: 5px;
    border: 20px;
    color: rgb(160, 100, 100);

}
form button{
    width: 100%;
    margin: 10px 0px;
    padding: 10px 0px;
    border-radius: 5px;
    border: none;
    color: #fff;
    background-color: rgb(109, 9, 9);
}

a{
    color: white;
    text-decoration: none;

}

footer{
    text-align: center;
    color: black;
    margin-top: 20px;

}
footer p{
    color: white;
    margin-top: -1px;
}

footer h2{
    font-size: 30px;
    font-weight: 500;

}

footer a{
   color: red;
}

